.custom-bold {
    font-weight: bold;
    font-size: large;
}
.gradient-background-light{
    background-image: linear-gradient(to right, #fb21f0, #ffb940);
}
.gradient-background-dark{
    background-image: linear-gradient(to right, #ffb940, #fb21f0);
}
.sb{
    display:flex;
    width: 25rem;
    height: 2.8rem;
    margin-left: 100px;
    margin-right: 10px;
    border-radius: 1.625rem;
    padding: 0 1.5rem 0 1.5rem;
    height: 2.8rem;
}
.lg{
    
    margin:15px 40px 5px;
}
.logo-margin{
    margin-right:10px;
}
